@media print {
    @page {
        margin-top: 5mm; /* Add padding to the top of every new page */
    }

    #bg{
        background-color: white !important;
    }
    *{
        margin: 0;
        padding: 0;
        print-color-adjust: exact;
        
    }
    
    tr{
        border: none;
        width: 100px!important;
    }
    td{
        width: 100px !important;
    }
    #printTable span{
        position: relative;
        z-index: 5;
    }
    #nameColor{
        border: none;
        width: 100px !important;
        margin-right: 0;
        position: absolute;
        z-index: 1;
    }
    #clientsButtons{
        display: none;
    }
    #test{
        display: none;
    }
    #orderDetailTitle{
        display: inline;
        font-size: 1.6em;
        page-break-before: always;

    }
    
    .orderDetailprint {
        display: inline !important;
        
      
    }
    .orderDetailprint li{
        display: flex;
        
    }

    .orderDetailEtiq{
        display: inline !important;
        width: 100%;
    }
    .orderDetailEtiq h1{
        font-size: 200px;
    }
    .orderDetailprint li{
        margin-bottom: 2px;
    }
    
    .orderDetailprint span{
        position: relative;
        z-index: 5;
        margin-right: 10px;
    }
  
    .numbersSpan{
        margin-left: 10px;
    }
    
    /* #etiquet{
        width: 21cm;
        height: 29.7cm; 
        display: flex;
        flex-wrap: wrap;
        page-break-after: always;
    } */
     /* .sticker {
       background-color: red;
      } */
      /* .sticker span {
        display: block;
        word-wrap: break-word;
      }
    #etiquet h1{
        font-size: 25rem;
    } */
    .sticker {
        height: 39mm !important;
        width: 104mm !important;
        font-size: 20px;
        padding-top: 5mm;
        padding-left: 2mm;
      }
    
      /* Ensure grid layout works properly in print */
      #etiquetDetail {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
      }
    
    .hideEtiq{
        display: none !important;
    }
    .showEtiq{
        display: inline;
    }
    .page-break {
        page-break-after: always;

    }


 
}
