@media print {
    #bg{
        background-color: white !important;
    }
    *{
        margin: 0;
        padding: 0;
        print-color-adjust: exact;
        
    }
    tr{
        border: none;
        width: 100px!important;
    }
    td{
        width: 100px !important;
    }
    #printTable span{
        position: relative;
        z-index: 5;
    }
    #nameColor{
        border: none;
        width: 100px !important;
        margin-right: 0;
        position: absolute;
        z-index: 1;
    }
    #clientsButtons{
        display: none;
    }
    #test{
        display: none;
    }
    #orderDetailTitle{
        display: inline;
        font-size: 1.6em;
    }
    
    .orderDetailprint{
        display: inline !important;
    }
    .orderDetailprint li{
        margin-bottom: 2px;
    }
    
    .orderDetailprint span{
        position: relative;
        z-index: 5;
        margin-right: 10px;
    }
  
    .numbersSpan{
        margin-left: 10px;
    }
    

}
